/*body {
	background:navy;
	text-align:center;

}
#wrapper {
}

form {
	text-align:center;
}

img {
	display:inline;
}
#inputField {
	margin:20px;
}
#searchtext {
	height:35px;
}
.orangeBorder {
	border:2px solid orange;
}
*/



body {
	background:#000;
	text-align: center;
}

form {
	width:80%;
}

label {
	font-size: 18px;
}

#show {
	margin: 5px;

}
#addShow {
	background:green;
}

#netflixSearch {
	margin: 0 auto;
}

 #gifArea {
}


.netflixGiphy {
	padding: 2px;
	width: 80%;
} 
 

